* {
    padding: 0;
    margin: auto;
    cursor: url(http://cur.cursors-4u.net/cursors/cur-1/cur84.cur), auto !important;
   
}
body {
    background-image: url(http://puu.sh/B3lrd/64cde78c97.jpg);
    background-color: #A8A49B;
    padding: 0;
    height:100%;
    width:100%;
    position:absolute;
    background-size: 1920px 1080px !important;
}
#Logo {
    width: 200px;
    padding-top: 7.5%;
}
.logo {
    opacity: 0.85;
}
.logo:hover {
    opacity: 1;
}
#Search {
    width: 200px;
    height: 333px;
    padding-top: 5%;
}
#f {
    background-color: rgba(35, 31, 32, 0, 45);
}
#q {
    font-family: Arial, sans-serif;
    color: rgba(250, 250, 250, 0.8);
    font-size: 12px;
    border: none;
    background-color: #231f20;
    height: 22px;
    width: 188px;
    border-radius: 5px;
    outline: 0 none;
    padding: 6px;
    opacity: 0.55;
    text-align: center;
}
#steam {
    font-family: Arial, sans-serif;
    color: rgba(250, 250, 250, 0.8);
    font-size: 12px;
    border: none;
    background-color: #231f20;
    height: 20px;
    width: 75px;
    border-radius: 5px;
    outline: 0 none;
    padding: 6px;
    padding-top: 5%;
    opacity: 0.55;
    margin-right: 120px;
    text-align: center;
}
#stream {
    font-family: Arial, sans-serif;
    color: rgba(250, 250, 250, 0.8);
    font-size: 12px;
    border: none;
    background-color: #231f20;
    height: 20px;
    width: 75px;
    border-radius: 5px;
    outline: 0 none;
    padding: 6px;
    padding-top: 5%;
    opacity: 0.55;
    margin-right: 0px;
    margin-top: -36px;
    text-align: center;
}
ul {
    list-style-type: none;
    text-decoration: none;
    color: rgab(250, 250, 250, 0.8);
    left: 10px;
    top: 10px;
    position: absolute;
}
li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 6px;
}
A:link {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.8);
}
A:visited {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.8);
}
A:active {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.8);
}
A:hover {
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
    border-color: rgba(250, 250, 250, 0.45);
}
